{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto 3 IPC2</title>
    <link rel="stylesheet" href="{% static 'StylePrincipal.css' %}">
</head>
<body>
    <center>
    <form action="/pedirEntrada/" method="POST" enctype="multipart/form-data" id = "frmA">
        {% csrf_token %}
        <p id="IAAS">Ingrese el archivo a Subir</p>
        <input type="file" id="archivoMsg" name="archivoMsg" required><br><br>
        <button type="submit" id="Ing">Ingresar</button>
        <br><br>
        <!--el diccionario esta modificando esta llave, se dice que agarre el diccionario de la llave message-->
        <h1>{{ fireworks | linebreaks }}</h1>
    </form>

    </center>

</body>
</html>