{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta Hashtags</title>
    <link rel="stylesheet" href="{% static 'StyleListados.css' %}">
</head>
<body>
    <section id="contenido">
    <center>
    <h1>Listado de Hashtags Filtrado</h1>
    {% for fecha,hashtags in fechas.items %}
        <p id="fecha">****{{ fecha }}****</p>
        {% for hashta in hashtags %}
            <p>{{ hashta }}</p>
        {% endfor %}
    {% endfor %}
    </center>
    </section>
</body>
</html>